[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CharAnalysis"]
	path = CharAnalysis
	url = https://github.com/cran/CharAnalysis
